@page "/user/delete/{id:int}"
@model WeddingPlanner.RazorPages.Pages.Users.DeleteModel
@{
    ViewData["Title"] = "Delete User";
}


<h1>Delete User</h1>

<p>Are you sure you want to delete this user?</p>
<p><strong>@Model.User.Id</strong> - @Model.User.Email</p>

<form method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>

