@page
@model WeddingPlanner.RazorPages.Pages.Flowers.CreateFlowerModel
@{

    ViewData["Title"] = "Create Flower";
}

<h1>Create Flower</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Flower.Name"></label>
        <input asp-for="Flower.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Flower.Type"></label>
        <input asp-for="Flower.Type" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Flower.Color"></label>
        <input asp-for="Flower.Color" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>
