@page "{id:int}"
@model WeddingPlanner.RazorPages.Pages.Flowers.ViewFlowerModel
@{

    ViewData["Title"] = "Flower Details";
}

<h1>@Model.Flower.Name</h1>

<p>Type: @Model.Flower.Type</p>
<p>Color: @Model.Flower.Color</p>

<a asp-page="Index" class="btn btn-secondary">Back to List</a>
<a asp-page="EditFlower" asp-route-id="@Model.Flower.Id" class="btn btn-warning">Edit</a>
