@page
@model WeddingPlanner.RazorPages.Pages.LogoutModel
@{
	
}
<h1>Are you sure you want to logout ?</h1>

<form method="post">
	<button type="submit" class="btn btn-primary">Logout</button>
	<a asp-page="Index" class="btn btn-secondary">Cancel</a>

</form>